<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<p>The letters you had were: <%= params[:letters] %></p>

<p>You typed the word: <%= params[:guess] %></p>

<p><%= @newScore %></p>
